/*GLOBAL*/
html, body {
  margin: 0px;
  height: 100%;
  background: pink;
}

.jumbotron {
  background: pink;
}

.actived{
  border-bottom: 4px solid #30DCFF;
  padding-bottom: 4px;
}

.central{
  height: 100%;
  overflow-y: scroll;
}

.seguro{
  margin-top:-30px;
  background: #8B003B;
  height: 40px;
  position: absolute;
}

.seguro-album{
  margin-top: -41px;
  margin-left: 10px;
}

.seguro-song{
  right: 25px;
  margin-top: -35px;
  background: pink;
}
/*BARRA LATERAL*/
.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
  font-family: cursive;
}

.navigation {
  text-align: center;
  color: #FBB5D6;
  background: #CA005F;
  height: 100%;
}

.navigation a{
  color: #FBB5D6;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover{
    color:white;
}

.navigation .fa{
  font-size: 25px;
  display: block;
  width: 100%;

}

#user_logged{
  background: #CA005F;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #FED7E9;
  width: 75%;
  text-align: center;

}

#user_logged .user-image{
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user_logged .user-image img{
  width: 57px;
}
.btn-log-out{
  cursor: pointer;
}
/*ARTISTAS Y ALBUMS*/

.artist_image_for_edit img,
.album_image_for_edit img,{
  width: 150px;
}


.artist-list,
.album-list{
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style: none;
  min-height: 400px;
}

.artist-item,
.album-item{
  width: 20%;
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 20px;
  /*margin-top: 20px;*/
}

.artist-item .artist-image,
.album-item .album-image{
  height: 245px;
  width: 100%;
  overflow: hidden;
  background: pink;
}

.artist-item .artist-image img
{
  height: 100%;
}

.artist-item .artist-name,
.album-item .album-name{
  color: white;
  padding: 10px;
  background: #8B003B;
}

.artist-item .artist-name a,
.album-item .album-name a{
  color: white;
}
/*DETALLE DE ARTISTAS Y ALBUM */
#artist-head-card .image,
#album-head-card .image{
  width: 170px;
  height: 170px;
  overflow: hidden;
  float:left;
  margin-right: 30px;
  margin-left: 30px;
}

#artist-head-card img,
#album-head-card img{
  height: 170px;
}


/*ALBUM*/
.album-list{
  min-height: 800px;
  margin-bottom: 715px;
}

.album-item .album-image{
  height: 188px;

}
.album-item{
  height: 300px;
  margin-bottom: 20px;
}


.album-item .album-image img{
  width: 100%;
}

/*CANCIONES*/
#songs-list{
  margin: 0px;
  padding: 0px;
  min-height: 800px;
}

.song-item{
  list-style: none;
  border-bottom: 1px solid #EC5E87;
  padding-top: 3px;
}
.song-item .title{
  padding: 12px;
}

.song-item .buttons{
  float: right;
}

.song-item .btn-success{
  margin-right: 10px;
}

/* PLAYER */

.player{
  background: #DD0057;
  position: fixed;
  width: 90.5%;
  bottom: 0;
  padding: 20px;
  margin-left: 0px;
  border-left: 1px solid #DD0057;
  color: pink;
}

.player .album-image{
  float: left;
  width: 138px;
  height: 105px;
  overflow: hidden;
}

.player .album-image img{
  height: 100%;
}

.player .audio-file{
  width: 85%;
  height: 40px;
  margin-top: 7px;
  margin-left: 10px;
  float: left;
}

.player audio{
  width: 100%;
  height: 40px;
}
