<div *ngIf="identity" class="navigation col-lg-1">
  <h1 class="head-title">
    <a [routerLink]="['/']">
        <span class="fa fa-headphones" aria-hidden="true"></span>
        {{title}}
    </a>
  </h1>
  <nav id="navigation">
          <a href="#">
            <span class="fa fa-search" aria-hidden="true"></span>
            Buscar
          </a>
          <a [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']">

            <span class="fa fa-microphone" aria-hidden="true"></span>
            Artistas
          </a>
          <a href="#">

            <span class="fa fa-book" aria-hidden="true"></span>
            Albums
          </a>

  </nav>

  <nav id="user_logged">
        <div class="user-image">
            <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}"/>
        </div>
        <span id="identity_name">
            {{identity.name}}
        </span>


        <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
          <span class="fa fa-cog" aria-hidden="true"></span>
          Mis Datos
        </a>
        <a (click)="logout()" class="btn-log-out">
          <span class="fa fa-sign-out" aria-hidden="true"></span>
          Salir
        </a>

  </nav>
</div>


<div [class.hidden]="!identity" class="central col-11">
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
  <player class="player" *ngIf="identity"></player>
</div>


<div class="col-lg-11" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-info">
        <strong>Error</strong> {{errorMessage}}
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
        <p>
            <label>Correo Electrónico: </label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email"
            class="form-control" required />
            <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
            </span>
        </p>

        <p>
            <label>Contraseña: </label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
            class="form-control" required />
        </p>

        <input type="submit" value="Entrar" class="btn btn-primary" />
      </form>
   </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
         {{alertRegister}}
        </div>
      </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
        <p>
          <label>Nombre: </label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required />
          <span *ngIf="!name.valid && name.touched">
              El nombre es obligatorio
          </span>
        </p>
        <p>
          <label>Apellidos: </label>
          <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"
          class="form-control" required />
          <span *ngIf="!surname.valid && surname.touched">
              Los apellidos son obligatorios
          </span>
        </p>
        <p>
            <label>Correo Electrónico: </label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email"
            class="form-control" required />
            <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
            </span>
        </p>

        <p>
            <label>Contraseña: </label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
            class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
                Contraseña obligatoria
            </span>
        </p>

        <input type="submit" value="Registrar" class="btn btn-primary" />
    </form>
  </div>
  </div>
