<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>Bienvenido a MusiCat</h1>
    <p>La mejor app para escuchar música.</p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver Artistas</a></p>
  </div>
</div>
